@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

.Block {
    font-family: Inter, sans-serif;
    
    display: flex;
    flex-direction: row;
}


.Schedule {
    background-color: aquamarine;
    justify-content: space-between;
    flex-wrap: wrap;

    @extend .Block;
    > .Info {
        padding: 1.5rem;
        flex-basis: 80%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        > .MainBar {
            > .Title {
                padding-right: 0.3rem;
                font-weight: 700;
                display: inline;
            }
    
            > .Countdown {
                font-weight: 300;
                display: inline;
            }
        }
    
        > .InfoBar {
            padding-top: 0.4rem;
            font-size: 1.0rem;
            > .Date {
                padding-right: 0.3rem;
                display: inline;
    
                &::after {
                    content: " •";
                }
            }
    
            > .Description {
                display: inline;
            }
        }
    }

    // > .Actions {
    //     flex-grow: 1;
    //     display: flex;
    //     justify-content: space-between;

    //     > button {
    //         display: none;
    //         width: 100%;
    //     }
    // }

    // &:hover {
    //     > .Actions > button {
    //         display: initial;
    //     }
    // }

    > .EditSection {
        padding: 1.5rem;
        background-color: darken($color: aquamarine, $amount: 15%);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .Field {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 0.3rem;
            .FieldTitle {
                font-weight: 700;
            }
            
            .FieldInput {
                outline: none;
                border: 1px solid black;
                background-color: inherit;
                font-family: inherit;
                font-size: inherit;
                padding: 10px;
                &:hover {
                    outline: none;
                }
            }

            button.FieldInput {
                &:hover {
                    background-color: darken($color: aquamarine, $amount: 40%);
                }

                &--red {
                    color: white;
                    background-color: firebrick;

                    &:hover {
                        color: white;
                        background-color: darken($color: firebrick, $amount: 10%);
                    }
                }
            }
        }
    }
}


.Header {
    @extend .Block;

    margin: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    > .Main {
        font-weight: 700;
        display: inline;
    }

    > .Description {
        font-weight: 300;
        display: inline;
    }
}